{% extends "object_base.html" %}
{% load filtertemplates %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
{{ title }}
{% endblock title %}
{% block buttons %}{% endblock buttons %}

{% block content %}
{% block model %}{% endblock model %}

  {% block form %}
    <div class="container-fluid">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.media }}
        {% buttons %}
        <button class="btn btn-success btn-sm" type="submit" value="Submit">{{ form_button|default:"Add" }}</button>
        {% endbuttons %}
      </form>
    </div>
  {% endblock form %}
{% endblock content %}
