{% load filtertemplates %}
<div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
       <div class="collapse navbar-collapse">
          <a class="btn btn-success" href="{% url 'home' %}">Vanir</a>
        </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% with 'Exchange Blockchain Token Account Order' as list %}
            {% for app in list.split %}
              <div class="row">
                <div class="col-sm">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <a href="{% url app|get_viewname:"list" %}" class="btn btn-primary">{{app}}</a>
                      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url app|get_viewname:"list" %}">List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url app|get_viewname:"add" %}">Add</a>
                      </div>
                    </div>
                    <div class="container"> </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endwith %}
          {% include "utils_menu.html" %}
        </ul>
      </div>
    </nav>
 </div>
