{% load filtertemplates %}
{% load static %}
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/favicons/vanir_logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      Vanir
    </a>
  <div class="container">
      <ul class="navbar-nav">
        {% with 'Exchange Blockchain Token Account Order' as list %}
            {% for app in list.split %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url app|get_viewname:'list' %}">{{app}}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url app|get_viewname:'list' %}">List</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url app|get_viewname:'add' %}">Add</a>
                </div>
              </li>&nbsp;&nbsp;
            {% endfor %}
            {% include "utils_menu.html" %}
            {% include "plugins_menu.html" %}
        {% endwith %}
      </ul>
  </div>
    {% include 'login_items.html' %}
  </nav>
</div>
