{% if messages %}
    {% for message in messages %}
        <div id="django-messages" class="toast-container alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
{% endif %}
<script>
var message_ele = document.getElementById("django-messages");

setTimeout(function(){
message_ele.style.display = "none";
}, 4000);
</script>
