{% extends "object_base.html" %}
{% load django_tables2 %}
{% load filtertemplates %}

{% block title %}
List {{ model_name }}
{% endblock title %}

{% block content %}
  <div class="float-right">

    <div class="btn-toolbar" role="toolbar" aria-label="Buttons">
      <div class="btn-group mr-2" role="group" aria-label="Add">
        <a class="btn btn-success float-right" href="{% url model_name|get_viewname:'add' %}" role="button">Add</a>
      </div>
      {% if model_name == "token" %}
      <div class="btn-group mr-2" role="group" aria-label="Add">
        <a class="btn btn-warning float-right" href="{% url model_name|get_viewname:'bulk_update_price' %}" role="button">Bulk price update</a>
      </div>
      {% endif %}
    </div>
  </div>

{% render_table table %}
{% endblock content %}
