{% extends "base.html" %}
{% load filtertemplates %}
{% load buttons %}
{% load static %}

{% block layout_title %}
<div class="container-fluid">
  <h2 align="center" class="alert alert-success">
  {% block title %} Base {% endblock %}
  </h2>
</div>

{% block buttons %}
<div class="d-flex flex-row-reverse">
  <div class="p-2">
  {% delete_button object %}
  </div>
  <div class="p-2">
  {% edit_button object %}
  </div>
  {# Extra buttons #}
  <div class="p-2">
  {% block extra_controls %}
  {% endblock extra_controls %}
  </div>
</div>
{% endblock buttons %}

{% endblock layout_title %}
