{% extends "object_base.html" %}
{% load filtertemplates %}
{% load static %}
{% block title %}
Update {{ model_name }}
{% endblock title %}

{% block content %}
<div class="float-right">
  <div class="btn-toolbar" role="toolbar" aria-label="Buttons">
    <div class="btn-group mr-2" role="group" aria-label="Add">
      <a class="btn btn-danger float-right" href="{% url model_name|add:":"|add:model_name|add:"_delete" object.id %}" role="button">Delete</a>
    </div>
  </div>
</div>
<div class="py-5 text-center">
        {% with "images/"|add:model_name|add:"/"|add:model_name|add:".png" as image_path %}
        <img class="d-block mx-auto mb-4" src="{% static image_path %}" alt="{{ model_name }}" width="30%" height="30%">
        {% endwith %}        <h2>Edit {{ model_name }}</h2>
        <p class="lead">Edit the desired fields on the {{ model_name }}</p>
</div>

<div class="container">
  <form method="post">
    {% csrf_token %}
  {% for field in form %}
      <div class="form-group">
          {{ field.errors }}
          <label>{{ field.label_tag }}</label>
            {{ field|add_class:"form-control form-control-lg" }}
      </div>
  {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>

{% endblock content %}
