{% extends "object_base.html" %}
{% load static %}
{% load buttons %}
{% load filtertemplates %}
{% block title %}
Account Detail
{% endblock title %}
{% block content %}
<div class="container">
    {% block extra_controls %}
      <a href="{% url account|validated_viewname:'refresh' account.pk %}" class="btn btn-sm btn-info" role="button">
        <span class="mdi mdi-pencil" aria-hidden="true"></span>&nbsp;Refresh account
      </a>
      <a href="{% url account|validated_viewname:'more' account.pk %}" class="btn btn-sm btn-primary" role="button">
        <span class="mdi mdi-pencil" aria-hidden="true"></span>&nbsp;More
      </a>
  {% endblock extra_controls %}
  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Exchange</th>
          <th scope="col">Account Value</th>
          <th scope="col">Token Pair</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ account.name }}</th>
          <th scope="row">{{ account.exchange.name }}</th>
          <td>{{ account.total_value_account }} {{ account.token_pair.symbol }}</td>
          <td>{{ account.token_pair }}</td>
        </tr>
        </tbody>
      </table>
    <div class="container-fluid">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Token Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Qty</th>
          <th scope="col">Last Value ({{ account.token_pair }})</th>
          <th scope="col">Total Value ({{ account.token_pair }})</th>

        </tr>
      </thead>
      <tbody>
          {% for tokenqty in account.accounttokens_set.all %}
          <tr>
            <th scope="row">{{ tokenqty.token.name }}</th>
            <td>{{ tokenqty.token.symbol }}</td>
            <td>{{ tokenqty.quantity }}</td>
            <td>{{ tokenqty.token.last_value }}</td>
            <td>{{ account|account_token_value:tokenqty.token.name }} </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
