{% extends "object_base.html" %}
{% load static %}
{% load buttons %}
{% load filtertemplates %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block title %}
Account Detail
{% endblock title %}
    {% block extra_controls %}
    <div class="p-2">
      <a href="{% url account|validated_viewname:'more' account.pk %}" class="btn btn-sm btn-primary" role="button">
        <span class="mdi mdi-pencil" aria-hidden="true"></span>&nbsp;More
      </a>
    </div>
    <div class="p-2">
      <a href="{% url account|validated_viewname:'refresh' account.pk %}" class="btn btn-sm btn-info" role="button">
        <span class="mdi mdi-pencil" aria-hidden="true"></span>&nbsp;Refresh account
      </a>
    </div>
  {% endblock extra_controls %}
{% block backbutton %}
  <div class="p-2">
    {% back_button object %}
  </div>
{% endblock backbutton %}

{% block content %}
  <div class="container-lg">
    {% render_table table_account 'django_tables2/bootstrap4.html' %}
    {% render_table table 'django_tables2/bootstrap4.html' %}
  </div>
{% endblock %}
