{% extends "object_base.html" %}
{% load static %}
{% load filtertemplates %}
{% block title %}
Account Detail
{% endblock title %}

{% block content %}
<div class="container">

  <div class="float-right">
    <div class="btn-toolbar" role="toolbar" aria-label="Buttons">
      <div class="btn-group mr-2" role="group" aria-label="More">
        <a class="btn btn-primary float-right" href="{% url account|validated_viewname:'more' account.pk %}" role="button">More</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Edit">
        <a class="btn btn-warning float-right" href="{% url account|validated_viewname:'update' account.pk %}" role="button">Edit</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Delete">
        <a class="btn btn-danger btn-outline float-right" href="{% url account|validated_viewname:'delete' account.pk %}" role="button">Delete</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Exchange</th>
          <th scope="col">Account Value</th>
          <th scope="col">User</th>
          <th scope="col">Tld</th>
          <th scope="col">Default Fee</th>
          <th scope="col">Token Pair</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ account.exchange.name }}</th>
          <td>{{ account.total_value_account }} {{ account.token_pair.symbol }}</td>
          <td>{{ account.user.username }}</td>
          <td>{{ account.tld }}</td>
          <td>{{ account.default_fee_rate }}</td>
          <td>{{ account.token_pair }}</td>
        </tr>
        </tbody>
      </table>
    <div class="container-fluid">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Token Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Qty</th>
        </tr>
      </thead>
      <tbody>
          {% for tokenqty in account.accounttokens_set.all %}
          <tr>
            <th scope="row">{{ tokenqty.token.name }}</th>
            <td>{{ tokenqty.token.symbol }}</td>
            <td>{{ tokenqty.quantity }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
