{% extends "object_base.html" %}
{% block title %}
Exchange Detail
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Native Token</th>
        <th scope="col">Default Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ exchange.name }}</th>
        <td>{{ exchange.native_token }}</td>
        <td>{{ exchange.default_fee }}</td>
      </tr>
      </tbody>
  </table>
</div>
{% endblock %}
