{% extends "object_base.html" %}
{% load filtertemplates %}
{% load buttons %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block title %}
{{ object.name }}
{% endblock title %}

{# No edit button for orders #}
{% block buttons %}
<div class="d-flex flex-row-reverse">
  <div class="p-2">
  {% cancel_order_button object %}
  </div>
</div>
{% endblock buttons %}


{% block content %}
<div class="container-lg">
  {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
  {% endif %}
</div>
<div class="container-lg">
  {% render_table table 'django_tables2/bootstrap4.html' %}
</div>
{% endblock content %}
