{% extends "object_base.html" %}
{% block title %}
Token Detail
{% endblock title %}
{% block extra_controls %}
  <div class="p-2">
    <a href="{% url 'token:token_update_price' token.pk %}" class="btn btn-sm btn-info" role="button">
      <span class="mdi mdi-pencil" aria-hidden="true"></span>&nbsp;Refresh price
    </a>
  </div>
{% endblock extra_controls %}
{% block content %}
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Last update price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ token.symbol }}</th>
        <td>{{ token.name }}</td>
        <td>{{ token.last_value }}</td>
      </tr>
      </tbody>
  </table>
</div>
{% endblock %}
