{% extends "object_base.html" %}
{% block title %}
Token Detail
{% endblock title %}

{% block content %}
<div class="container">

  <div class="float-right">
    <div class="btn-toolbar" role="toolbar" aria-label="Buttons">
      <div class="btn-group mr-2" role="group" aria-label="Edit">
        <a class="btn btn-warning float-right" href="{% url 'token:token_update_price' token.pk %}" role="button">Update Price</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Edit">
        <a class="btn btn-warning float-right" href="{% url 'token:token_update' token.pk %}" role="button">Edit</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Delete">
        <a class="btn btn-danger btn-outline float-right" href="{% url 'token:token_delete' token.pk %}" role="button">Delete</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Blockchain</th>
          <th scope="col">Last update price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ token.symbol }}</th>
          <td>{{ token.name }}</td>
          <td>{{ token.blockchain }}</td>
          <td>{{ token.last_value }}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
